<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
</head>
<body>
    <h1> Миссия Колонизации Марса</h1>
    <h2> И на Марсе будут яблони цвести! </h2>
    {% if value == 'ol' %}
    <ol>
        {% for prof in array_prof %}
        <li> {{prof}} </li>
        {% endfor %}
    </ol>
    {% elif value == 'ul' %}
    <ul>
        {% for prof in array_prof %}
        <li> {{prof}} </li>
        {% endfor %}
    </ul>
    {% else %}
    <h2> Ошибка.Неверный параметр </h2>>
    {% endif %}
</body>
</html>